h1 {
    font-size: 35px;
    text-align: center;
    color: #032F62;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 3px;
    background-color: rgba(3, 47, 98, 0.801);
    color: white;  }


  input {
    padding: 10px 5px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid rgb(66, 61, 61);
    width: 100%;
  }

  .invalid-feedback{
    color: red;
  }